[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
psycopg2 = "*"
uvicorn = "*"
python-dotenv = "*"
passlib = "*"
bcrypt = "*"
python-jose = "*"
asyncpg = "*"
databases = {extras = ["postgresql"], version = "*"}
psycopg2-binary = "*"
aiofiles = "*"
pillow = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"
